body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

figure {
    margin: 0;
}

h1 {
    color: #fff;
    font-size: 40px;
    letter-spacing: -.2px;
    line-height: 1.5;
    margin: 0;
}

h1 strong {
    color: #026fff;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.header {
    background-color: #1b2127;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    color: #fff;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hero {
    height: 300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    background: #fff;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-course, .project-date, .project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.event-list-title {
    margin-left: 20px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event {
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    background: #fff;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid;
    border-radius: 5px;
    color: #026fff;
    padding: 5px 20px;
    text-decoration: none;
}

.contact {
    background: #026fff;
    color: #fff;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    background-size: 15px 15px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: #fff;
    padding: 10px 0;
    width: 100px;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.social-link {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.footer {
    background-color: #1b2127;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: #fff;
}
