body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #BFC6CA;
  color: #314A66;
  height: 700px;
}

.hero .container {
  align-items: center;
  display: grid;
  grid-template-rows: 175px 1fr;
  margin: 0 auto;
  width: 1000px;
}

.hero .title {
  text-align: center;
}

.hero .title .nickname {
  font-family: 'Quicksand', sans-serif;
  font-size: 4.5em;
  margin: 0;
  text-transform: uppercase;
}

.hero .bio {
  text-align: center;
}

.hero .bio figure {
  margin: 50px 0 0 0;
}

.bio figure img {
  border-radius: 50%;
  height: 200px;
}

.bio .contact {
  margin: 20px;
}

.bio .contact a {
  color: #314A66;
  display: inline-block;
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
}

.profileSections {
  color: #222222;
  margin: 10px 30px;
  min-height: 300px;
}

.profileSections header {
  color: #314A66;
  font-size: 2em;
  font-weight: lighter;
  text-decoration: underline;
}

.footerMenu {
  align-items: center;
  background-color: #314A66;
  bottom: 0;
  display: flex;
  height: 55px;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.footerMenu ol {
  display: flex;
  justify-content: center;
}

.footerMenu a {
  align-items: center;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  margin: 0 25px;
  padding-bottom: 5px;
}

.footerMenu a:hover {
  border-bottom: 2px solid #ffffff;
}

/* Temporarily hidding these elements */

#skills, #projects, #blog, .footerMenu {
  display: none;
}