/* General HTML rules section */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0;
  margin-bottom: 100px;
  min-height: 100%;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Hero section */

.hero {
  background-color: #BFC6CA;
  color: #314A66;
  height: 100vh;
}

.hero .container {
  align-items: center;
  display: grid;
  grid-template-rows: 175px 1fr;
  margin: 0 auto;
  max-width: 1000px;
}

.hero .title {
  text-align: center;
}

.hero .title .nickname {
  font-family: 'Quicksand', sans-serif;
  font-size: 4.5em;
  margin: 0;
  text-transform: uppercase;
}

.hero .bio {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

article.bio p {
  margin-bottom: 15px;
}

.hero .bio figure {
  margin: 50px 0 0 0;
}

.bio figure img {
  border-radius: 50%;
  height: 200px;
}

.bio .contact {
  margin: 20px;
}

.bio .contact a {
  color: #314A66;
  display: inline-block;
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
}

/* Profile overall sections */

.profileSections {
  color: #222222;
  margin: 10px 60px;
  min-height: 300px;
}

.profileSections header {
  color: #314A66;
  font-size: 2.2em;
  font-weight: lighter;
  border-bottom: 3px solid;
  padding-bottom: 10px;
  width: 150px;
  margin-top: 1.5em;
}

.work-listing {
  margin: 0 auto;
  max-width: 700px;
}

/* Sills section */

.skillsSection {
  margin: 30px 0 0 50px;
}

.skillsSection h2 {
  color: #314A66;
  font-size: 1.3em;
  margin: 10px 0 5px 0;
}

.skillsSection p {
  color: rgba(0, 0, 0, .74);
  font-size: 1.3em;
  margin-left: 20px;
}

/* Project Portfolio */

.project-listings {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 335px));
  margin-top: 3.5em;
  justify-content: center;
}

.project {
  display: block;
  position: relative;
  cursor: pointer;
}

.project figure {
  margin: 0;
}

.project img {
  width: 100%;
  vertical-align: top; 
}

.project-overlay {
  background: rgba(256, 256, 256, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.project:hover .project-overlay {
  display: flex;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.project .project-title {
  color: #000000;
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.project .project-stack {
  color: #314A66;
  display: block;
  font-size: 1.4em;
}

.project .learn-more {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #314A66;
}

.project .learn-more:hover {
  color: #314A66;
  background-color: #ffffff;
}

/* Blog article listing */

.article-preview {
  border: 1px solid rgba(0, 0, 0, .9);
  display: grid;
  grid-template-rows: 250px 70px 110px 30px;
  padding: 1.5em 2em;
  margin: 3.5em 0;
}

.article-preview figure, h2, p, div {
  margin: 0;
}

.article-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-preview h2 {
  font-size: 2em;
  margin: 10px 0px;
}

.article-preview .summary p {
  font-size: 1em;
  color: rgba(0, 0, 0, .54);
}

.article-preview .summary .read-more {
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, .54);
  margin-top: 20px;
  font-size: 0.85em;
  font-style: italic;
}

.article-preview .date-tags {
  text-align: end;
}

.article-preview .date {
  font-style: italic;
}

.article-preview .date::after {
  content: " • ";
}

.article-preview .tags {
  color: #314A66;
}

/* Footer navigation section */

.footerMenu {
  align-items: center;
  background-color: #314A66;
  bottom: 0;
  display: flex;
  height: 55px;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.footerMenu ol {
  display: flex;
  justify-content: center;
}

.footerMenu a {
  align-items: center;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  margin: 0 25px;
  padding-bottom: 5px;
}

.footerMenu a:hover {
  border-bottom: 2px solid #ffffff;
}

/* iPad */

@media screen and (max-width: 768px) {
  .hero .container {
    grid-template-rows: 125px 1fr;
  }

  .hero .title .nickname {
    font-size: 3.8em;
  }

  .profileSections header {
    font-size: 2em;
    margin-top: 0.9em;
  }

  .skillsSection {
    margin: 20px 0 0 30px;
  }

  .skillsSection h2 {
    font-size: 1.2em;
  }

  .skillsSection p {
    font-size: 1.2em;
  }

  .project-listings {
    margin-top: 1.5em;
  }

  .article-preview {
    margin: 2em 0;
    grid-template-rows: 200px 60px 110px 15px;
  }
}

/* Phones */

@media screen and (max-width: 415px) {
  .hero .container {
    grid-template-rows: 100px 1fr;
  }

  .hero .title .nickname {
    font-size: 2.7em;
  }

  .profileSections header {
    font-size: 1.5em;
    margin-top: 0.6em;
  }

  article.bio p {
    font-size: 0.8em;
  }

  .profileSections {
    margin: 10px 30px;
    min-height: 200px;
  }

  .skillsSection {
    margin: 15px 0;
  }

  .skillsSection h2 {
    font-size: 1.1em;
  }

  .skillsSection p {
    font-size: 0.8em;
  }

  .project-listings {
    margin-top: 1.5em;
  }

  .project .project-title {
    font-size: 1.1em;
  }

  .project .project-stack {
    font-size: 0.9em;
  }

  .project .learn-more {
    margin-top: 10px;
    padding: 5px;
    font-size: 0.6em;
  }

  .article-preview {
    margin: 1.5em 0;
    padding: 1em;
    grid-template-rows: 160px 40px 110px 30px;
  }

  .article-preview h2 {
    font-size: 1.3em;
    margin: 5px 0px;
  }

  .article-preview .summary p {
    font-size: 0.7em;
  }

  .article-preview .summary .read-more {
    font-size: 0.5em;
    margin-top: 10px;
  }

  .article-preview .date-tags {
    font-size: 0.6em;
  }
}
